.header {
    margin: 0%;
    padding: 0%;
    left: 0%;
    right: 0%;
    /* height: 50%; */
    background: #0042FF;
}

img {
    margin: 10px;
    /* width: 15%; */
}

.forIcon {
    align-content: center;
    color: beige;
    /* width: 15%; */
}

.footer {}

.body {}